

*{
    font-family: serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
}

h1{
    text-align: center;
    color: white;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body{
    background: black;
}
button{
    padding: 8px;
    background: white;
    color: black;
    bottom: none;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 16px;
    transition: 1s;
}

button:hover{
    background: blue;
    color: black;
    border: 1px solid white;
}